<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Page Title"] - Bingo Web Service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="mb-5">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-black order-bottom box-shadow fixed-top">
            <div class="container-xl">
                <a class="navbar-brand text-warning" asp-controller="Home" asp-action="Index">Bingo Web App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-arround">
                    <ul class="navbar-nav flex-grow-1 text-warning">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="AboutMe">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="StartBingo">Start Bingo Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Record" asp-action="BingoList">See All Bingo Record List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Record" asp-action="BingoWinners">See Bingo Winners List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div id="pageCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#pageCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#pageCarousel" data-bs-slide-to="1"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000" style="min-height: 10rem; max-height: 25rem;">
                            <img class="d-block w-100 img-fluid" src="@ViewData["Page Carousel Image"]" alt="@ViewData["Page Carousel ImageAlt"]" style="opacity: 0.5;" />
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3>@ViewData["Page Carousel Title"]</h3>
                                <p>@ViewData["Page Carousel Body First Paragraph"]</p>
                                <p>@ViewData["Page Carousel Body Second Paragraph"]</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000" style="min-height: 10rem; max-height: 25rem;">
                            <img class="d-block w-100 img-fluid" src="@ViewData["Author Carousel Image"]" alt="@ViewData["Author Carousel ImageAlt"]" style="opacity: 0.5;" />
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3>About the build-in programming logic over this specific page...</h3>
                                <p>@ViewData["Author Carousel Body First Paragraph"]</p>
                                <p>@ViewData["Author Carousel Body Second Paragraph"]</p>
                                <p>To know more about this web-app author <a asp-controller="Home" asp-action="AboutMe">click here</a>.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#pageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#pageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <main role="main" class="mt-2 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - This is a project based in my successful final work for my course in the Polo Tecnológico from Mina Clavero - For more info click in <a asp-controller="Home" asp-action="About Me">About Me</a> Section
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
